@charset "utf-8";
.display_none {
  display: none;
}
.sound_only {
  font-size: 0px;
  position: absolute;
  top: 0px;
  left: -9999rem;
}
.wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 50px 20px;
}
.tag_list {
  margin: 10px 0px;
}
.in-code {
  display: block;
  margin: 5px auto;
  padding: 10px;
  background-color: #282828;
  color: white;
}
.desc-ie .in-code {
  color: #00aeff;
}
.ie-wrapper .desc-ie .in-code {
  color: #00e1ff;
}